[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-filter = "*"
django-cors-headers = "*"
aio-pika = "*"
pillow = "*"
drf-yasg = "*"
pre-commit = "*"
boto3 = "*"
botocore = "*"
drf-nested-routers = "*"
pymongo = "*"
mongoengine = "*"
django-rest-framework-mongoengine = "*"
pika = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
